@import "variables.scss";

@mixin fontBold {
    font-family: 'gotham-bold', sans-serif;
};
@mixin center {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 74px 0 74px;
};

$icon-width:18px;
$icon-heigth:12px;

@mixin iconSizes($icon-width:18px, $icon-heigth:12px){
opacity: 1;
};
@mixin centerText{
    margin: 0 6px 0 6px;
};

@mixin textSize ($fontSize:$text-size-medium){
  color: $text-secondary-color;
};

@mixin hrLine{
    border:0;
    width: 100%;
    border-top: 1px solid #DDE5ED; 
    height:0;
}

@mixin centerInner {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
}