@import "reset.scss";
@import "mixins.scss";
@import "variables.scss";
// section NAVBAR
.center{
    @include center;
    
}
.nav-bar{
   width: 100%;
   display: flex;
   padding-top: 13px;
   padding-bottom: 13px;
   align-items: center;
   justify-content: space-between;
};

.content-icons{
    align-items: center;
    color:$text-secondary-color;
    .icon-menu{
        @include iconSizes($icon-width:18px, $icon-heigth:12px);
        @include centerText;
    }
    .icon-search{
        @include iconSizes($icon-width:16px, $icon-heigth:16px);
        @include centerText;
    }
    .icon-cloud{
        @include iconSizes($icon-width:22.65px, $icon-heigth:18.08px);
        @include centerText;
    }

    .text-content{
        @include textSize($fontSize:$text-size-medium);
    }
    .celcius{
        display: flex;
        font-size:10px ;
        position: absolute;
        top:18px;
        left: 329px;;
    }
    .center-text{
        padding-left: 10px;
        font-size: $text-size-small;
    }
    
};

.links-nav{
    .center-text{
        @include centerText;
    };
    color: $text-secondary-color;
    font-weight: 600;
    font-size: $text-size-small-bold;
};
// section MENU
.section-menu{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.main-title{
    @include center;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 600;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    
    .logo-circle{
        width: 40px;
        height: 40px;
        border-color: transparent;
        border-radius: 50%;
        background-color: $text-logo-color;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .text-title{
        color: $text-logo-color;
        font-size: 48px;
        font-family: 'Lora', serif;
        font-weight: 700;
        padding-left: 16px;
        padding-bottom: 6px;
        margin: 0;
    }
    .text-letter{
        color: $text-logo-color;
        font-size: 38px;
        font-family: 'Lora', serif;
        font-weight: 700;  
    }
}
.links-menu {
    @include center;
    ul {
        display: flex;
        li{
            padding: 0 5px 0 5px;
            font-size: $text-secondary-size;
            font-weight:500;
            color: $text-primary-color;
            opacity: 100%;
            cursor: pointer;
            margin: 0 5px 0 5px;
        }
        li:hover{
            color:$text-accent-color;
            cursor: pointer;
        }
    }
}
.line{
    @include hrLine;
}
// section DESTACADOS
.center-inner{
    @include centerInner;
}
.small-circle-featured{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border-color: transparent;
    background-color: $text-logo-color;
    margin-bottom: 2px;
}
.small-title-featured{
    font-family: 'gotham-bold', sans-serif;
    @include textSize($fontSize:$text-size-small-bold-1);
    color:$text-accent-color;
    padding: 0 5px 0 5px;
    margin:0;
}
.small-text-featured{
    @include textSize($fontSize:$text-secondary-size);
    color: $text-primary-color;
    font-weight: lighter;
    margin:20px 0 20px 0;
}
//Section CONTENTS
.section-contents{
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
   
    .colum-article{
       @include column;
       margin: 0 10px 0 10px;
       .title-news{
           display: flex;
           height: 188px;
           font-size: $text-size-large-bold;
           color: $text-primary-color;
           @include fontBold; 
           margin: 0 0 52px 0; 
           line-height: 1;
           font-weight: bold;
           letter-spacing: -0.72px;
           width: 350px;
       }
       .text-news{
        display: flex;
        font-size: $text-size-medium;
        width: 350px;
        height: 105px;
        letter-spacing: -0.45px;
        text-align: left;
        font-weight: lighter;
        color: $text-primary-color;
        flex-wrap: wrap;
       }
       .small-title{
        @include textSize($fontSize: $text-size-small-bold);
        color: $text-accent-color;
        width: 350px;
        margin:10px 0 10px 0;
       }
       .text-news-bold{
           @include textSize($fontSize:$text-size-small-bold-2);
           color: $text-primary-color;
           @include fontBold;
           font-weight: bold;
           width: 350px;
           margin:0px 0 14px 0;
       }
    }

}