body {
  margin: 0 80px 0 80px;
  padding: 0;
  background-color: #ffff;
  font-family: "Work Sans", sans-serif;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul, li {
  list-style: none;
}

.center {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 74px 0 74px;
}

.nav-bar {
  width: 100%;
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
  justify-content: space-between;
}

.content-icons {
  align-items: center;
  color: #717171;
}
.content-icons .icon-menu {
  opacity: 1;
  margin: 0 6px 0 6px;
}
.content-icons .icon-search {
  opacity: 1;
  margin: 0 6px 0 6px;
}
.content-icons .icon-cloud {
  opacity: 1;
  margin: 0 6px 0 6px;
}
.content-icons .text-content {
  color: #717171;
}
.content-icons .celcius {
  display: flex;
  font-size: 10px;
  position: absolute;
  top: 18px;
  left: 329px;
}
.content-icons .center-text {
  padding-left: 10px;
  font-size: 14px;
}

.links-nav {
  color: #717171;
  font-weight: 600;
  font-size: 14px;
}
.links-nav .center-text {
  margin: 0 6px 0 6px;
}

.section-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 74px 0 74px;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.main-title .logo-circle {
  width: 40px;
  height: 40px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #C60C30;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title .text-title {
  color: #C60C30;
  font-size: 48px;
  font-family: "Lora", serif;
  font-weight: 700;
  padding-left: 16px;
  padding-bottom: 6px;
  margin: 0;
}
.main-title .text-letter {
  color: #C60C30;
  font-size: 38px;
  font-family: "Lora", serif;
  font-weight: 700;
}

.links-menu {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 74px 0 74px;
}
.links-menu ul {
  display: flex;
}
.links-menu ul li {
  padding: 0 5px 0 5px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  opacity: 100%;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.links-menu ul li:hover {
  color: #005077;
  cursor: pointer;
}

.line {
  border: 0;
  width: 100%;
  border-top: 1px solid #DDE5ED;
  height: 0;
}

.center-inner {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-circle-featured {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #C60C30;
  margin-bottom: 2px;
}

.small-title-featured {
  font-family: "gotham-bold", sans-serif;
  color: #717171;
  color: #005077;
  padding: 0 5px 0 5px;
  margin: 0;
}

.small-text-featured {
  color: #717171;
  color: #000000;
  font-weight: lighter;
  margin: 20px 0 20px 0;
}

.section-contents {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.section-contents .colum-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin: 0 10px 0 10px;
}
.section-contents .colum-article .title-news {
  display: flex;
  height: 188px;
  font-size: 36px;
  color: #000000;
  font-family: "gotham-bold", sans-serif;
  margin: 0 0 52px 0;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -0.72px;
}
.section-contents .colum-article .text-news {
  display: flex;
  font-size: 18px;
  height: 105px;
  letter-spacing: -0.45px;
  text-align: left;
  font-weight: lighter;
  color: #000000;
  flex-wrap: wrap;
}
.section-contents .colum-article-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 445px;
  margin: 0 10px 0 10px;
}
.section-contents .colum-article-second .small-title-central {
  color: #717171;
  color: #005077;
  font-family: "gotham-bold", sans-serif;
  font-weight: lighter;
}
.section-contents .colum-article-second .title-medium {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.48px;
  margin: 0;
}
.section-contents .colum-article-second .text-small-news {
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1;
}
.section-contents .colum-article-second .content-photo-news {
  display: flex;
  justify-content: space-around;
}
.section-contents .colum-article-second .content-photo-news .text-space-inner {
  width: 270px;
  margin: 0 10px 0 10px;
}
.section-contents .colum-article-trird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 255px;
  margin: 0 10px 0 10px;
}
.section-contents .colum-article-trird .text-margin {
  margin: 20px 0 30px 0;
}

.small-title {
  color: #717171;
  color: #005077;
  margin: 10px 0 10px 0;
}

.text-news-bold {
  color: #717171;
  color: #000000;
  font-family: "gotham-bold", sans-serif;
  font-weight: bold;
  margin: 0px 0 14px 0;
}

.paddin-img {
  padding: 0 0 30px 0;
}

.vertical-line-left {
  width: 1px;
  background-color: #DDE5ED;
  height: 856px;
  position: absolute;
  left: 536px;
}

.vertical-line-right {
  width: 1px;
  background-color: #DDE5ED;
  height: 856px;
  position: absolute;
  right: 438px;
}

/*# sourceMappingURL=style.css.map */
