$text-secondary-color:#717171;
$text-primary-color:#000000;
$text-logo-color:#C60C30;
$text-accent-color:#005077;


$text-secondary-size:16px;
$text-size-small:14px;
$text-size-medium:18px;

$text-size-small-bold:14px;
$text-size-small-bold-1:15px;
$text-size-small-bold-2:18px;
$text-size-medium-bold:24px;
$text-size-large-bold:36px;
